###############################################################################
# Desktop configuration file for kz-backup.
#
# Written in 2015 by Karel Zimmer <info@karelzimmer.nl>, Creative Commons
# Public Domain Dedication <http://creativecommons.org/publicdomain/zero/1.0>.
###############################################################################

[Desktop Entry]
Type=Application
Name=Make backup
Name[nl]=Reservekopie maken
GenericName=Backup program
GenericName[nl]=Veiligstelprogramma
Comment=Back up folders and files
Comment[nl]=Maak een reservekopie (back-up) van mappen en bestanden
Keywords=kz-backup;copy;restore;
Keywords[nl]=kz-backup;herstel;
Categories=KZ Scripts;
Exec=kz-backup --gui
Icon=kz-backup
