###############################################################################
# Desktop configuration file for kz-backup.
#
# Written in 2015 by Karel Zimmer <info@karelzimmer.nl>, Creative Commons
# Public Domain Dedication <https://creativecommons.org/publicdomain/zero/1.0>.
###############################################################################

[Desktop Entry]
Type=Application
Name=Make backup
GenericName=Backup program
Comment=Make a backup copy of the Home folder
Keywords=kz-backup;copy;restore;
Categories=Kz-scripts;
Exec=kz-backup --gui
Icon=kz-backup
X-GNOME-Gettext-Domain=kz
