# #############################################################################
# SPDX-FileComment: Desktop configuration file for CUPS web app
#
# SPDX-FileCopyrightText: Karel Zimmer <info@karelzimmer.nl>
# SPDX-License-Identifier: CC0-1.0
# #############################################################################

[Desktop Entry]
Type=Application
Name= CUPS web app
Comment=Manage printers from a web browser
Categories=Utility;X-GNOME-Utilities;
TryExec=firefox
Exec=firefox http://localhost:631
Icon=kz-cups
X-GNOME-Gettext-Domain=kz
X-Ubuntu-Gettext-Domain=kz
