# #############################################################################
# SPDX-FileComment: Desktop configuration file for Cockpit web app
#
# SPDX-FileCopyrightText: Karel Zimmer <info@karelzimmer.nl>
# SPDX-License-Identifier: CC0-1.0
# #############################################################################

[Desktop Entry]
Type=Application
Name=Cockpit
Comment=Manage Linux servers from a web browser
Categories=Utility;X-GNOME-Utilities;
TryExec=cockpit-bridge
Exec=firefox https://localhost:9090
Icon=kz-cockpit
X-GNOME-Gettext-Domain=kz
X-Ubuntu-Gettext-Domain=kz
