###############################################################################
# Desktop configuration file for Cockpit in Google Chrome.
#
# Written in 2022 by Karel Zimmer <info@karelzimmer.nl>, Creative Commons
# Public Domain Dedication <https://creativecommons.org/publicdomain/zero/1.0>.
###############################################################################

[Desktop Entry]
Type=Application
Name=Cockpit
Name[nl]=Cockpit
GenericName=System managment
GenericName[nl]=Systeembeheer
Comment=Browser-based system management
Comment[nl]=Browsergebaseerd beheer
Keywords=system;management;
Keywords[nl]=systeem;beheer;
Exec=google-chrome https://localhost:9090
Categories=Kz-scripts;
Icon=kz-cockpit
NoDisplay=true
