###############################################################################
# Desktop configuration file for Cockpit in Google Chrome.
#
# Written in 2022 by Karel Zimmer <info@karelzimmer.nl>, Creative Commons
# Public Domain Dedication <https://creativecommons.org/publicdomain/zero/1.0>.
###############################################################################

[Desktop Entry]
Type=Application
Name=Cockpit
Comment=Browser-based system management
Categories=Kz-scripts;
Exec=google-chrome https://localhost:9090
Icon=kz-cockpit
X-GNOME-Gettext-Domain=kz
NoDisplay=true
