# #############################################################################
# SPDX-FileComment: Desktop configuration file for Google Earth web app
#
# SPDX-FileCopyrightText: Karel Zimmer <info@karelzimmer.nl>
# SPDX-License-Identifier: CC0-1.0
# #############################################################################

[Desktop Entry]
Type=Application
Name= Google Earth web app
Comment=Exploring the Earth from a web browser
Categories=Utility;X-GNOME-Utilities;
TryExec=firefox
Exec=firefox https://earth.google.com
Icon=kz-google-earth
X-GNOME-Gettext-Domain=kz
X-Ubuntu-Gettext-Domain=kz
