# #############################################################################
# SPDX-FileComment: Desktop configuration file for GitHub web app
#
# SPDX-FileCopyrightText: Karel Zimmer <info@karelzimmer.nl>
# SPDX-License-Identifier: CC0-1.0
# #############################################################################

[Desktop Entry]
Type=Application
Name= GitHub web app
Comment=Developer platform
Categories=Utility;X-GNOME-Utilities;
TryExec=firefox
Exec=firefox https://github.com
Icon=kz-github
X-GNOME-Gettext-Domain=kz
X-Ubuntu-Gettext-Domain=kz
