###############################################################################
# SPDX-FileComment: Desktop configuration file for kz-install
#
# SPDX-FileCopyrightText: Karel Zimmer <info@karelzimmer.nl>
# SPDX-License-Identifier: CC0-1.0
###############################################################################

[Desktop Entry]
Type=Application
Name=Install apps
Comment=Install apps and changes system settings
Categories=KZ;
TryExec=kz
Exec=kz-install --gui
Icon=kz-install
OnlyShowIn=GNOME;Unity;
X-GNOME-Gettext-Domain=kz
X-Ubuntu-Gettext-Domain=kz
