###############################################################################
# Desktop configuration file for kz-install.
#
# Written in 2015 by Karel Zimmer <info@karelzimmer.nl>, Creative Commons
# Public Domain Dedication <https://creativecommons.org/publicdomain/zero/1.0>.
###############################################################################

[Desktop Entry]
Type=Application
Name=Install apps
Name[nl]=Apps installeren
GenericName=Install program
GenericName[nl]=Installatieprogramma
Comment=Add apps and change system settings
Comment[nl]=Installeer apps en wijzig systeeminstellingen
Keywords=kzinstall;install;
Keywords[nl]=kzinstall;installatie;
Categories=Kz-scripts;
Exec=kz-install --gui
Icon=kz-install
Actions=list;

[Desktop Action list]
Name=Create app list
Name[nl]=Applijst maken
Exec=kz-install --gui --list
