###############################################################################
# Desktop configuration file for kz-menu.
#
# Written in 2015 by Karel Zimmer <info@karelzimmer.nl>, Creative Commons
# Public Domain Dedication <https://creativecommons.org/publicdomain/zero/1.0>.
###############################################################################

[Desktop Entry]
Type=Application
Name=Installation menu
Comment=Run commands through a menu
Categories=Kz-scripts;
Exec=kz-menu --gui
Icon=kz-menu
X-GNOME-Gettext-Domain=kz
