###############################################################################
# Desktop configuration file for kz-menu.
#
# Written in 2015 by Karel Zimmer <info@karelzimmer.nl>, Creative Commons
# Public Domain Dedication <https://creativecommons.org/publicdomain/zero/1.0>.
###############################################################################

[Desktop Entry]
Type=Application
Name=Installation menu
Name[nl]=Installatiemenu
GenericName=Installation helper
GenericName[nl]=Installatiehulp
Comment=Run commands through a menu
Comment[nl]=Voer opdrachten uit via een menu
Keywords=kzmenu;menu;
Keywords[nl]=kzmenu;menu;
Categories=Kz-scripts;
Exec=kz-menu --gui
Icon=kz-menu
