###############################################################################
# Desktop configuration file for kz-menu.
#
# Written by Karel Zimmer <info@karelzimmer.nl>.
# License CC0 1.0 <https://creativecommons.org/publicdomain/zero/1.0>.
###############################################################################

[Desktop Entry]
Type=Application
Name=Installation menu
Comment=Run commands through a menu
Categories=KZ;
TryExec=kz
Exec=kz-menu --gui
Icon=kz-menu
OnlyShowIn=GNOME;Unity;
X-GNOME-Gettext-Domain=kz
X-Ubuntu-Gettext-Domain=kz
