# #############################################################################
# SPDX-FileComment: Desktop configuration file for kz-restore
#
# SPDX-FileCopyrightText: Karel Zimmer <info@karelzimmer.nl>
# SPDX-License-Identifier: CC0-1.0
# #############################################################################

[Desktop Entry]
Type=Application
Name=Restore Home folder
Comment=Restore a backup copy of the Home folder
Categories=Utility;X-GNOME-Utilities;
TryExec=kz
Exec=kz-restore --gui
Icon=kz
X-GNOME-Gettext-Domain=kz
X-Ubuntu-Gettext-Domain=kz
