###############################################################################
# Desktop configuration file for kz-restore.
#
# Written by Karel Zimmer <info@karelzimmer.nl>, CC0 1.0 Universal
# <https://creativecommons.org/publicdomain/zero/1.0>, 2015-2023.
###############################################################################

[Desktop Entry]
Type=Application
Name=Restore backup
Comment=Restores a backup copy of the Home folder
Categories=X-GNOME-Kz-scripts;
TryExec=kz
Exec=kz-restore --gui
Icon=kz-restore
X-GNOME-Gettext-Domain=kz
