###############################################################################
# Bureaublad-configuratiebestand voor kz-restore.
#
# Geschreven in 2015 door Karel Zimmer <info@karelzimmer.nl>, Creative Commons
# Publiek Domein Verklaring <http://creativecommons.org/publicdomain/zero/1.0>.
###############################################################################

[Desktop Entry]
Type=Application
Name=Restore backup
Name[nl]=Back-up terugzetten
GenericName=Restore program
GenericName[nl]=Herstelprogramma
Comment=Restore files and folders from a backup
Comment[nl]=Zet back-up (reservekopie) van mappen en bestanden terug
Keywords=z-restore;restore;copy;
Keywords[nl]=kz-restore;restore;reservekopie;
Categories=KZ Scripts;
Exec=kz-restore --gui
Icon=kz-restore
