###############################################################################
# Desktop configuration file for Skype App.
#
# Written by Karel Zimmer <info@karelzimmer.nl>, CC0 1.0 Universal
# <https://creativecommons.org/publicdomain/zero/1.0>, 2023.
###############################################################################

[Desktop Entry]
Type=Application
Name=Skype
Categories=KZ;
TryExec=google-chrome
Exec=google-chrome https://web.skype.com
Icon=kz-skype
X-GNOME-Gettext-Domain=kz
