###############################################################################
# Desktop configuration file for Spotify web app.
#
# Written by Karel Zimmer <info@karelzimmer.nl>, CC0 1.0 Universal
# <https://creativecommons.org/publicdomain/zero/1.0>, 2023.
###############################################################################

[Desktop Entry]
Type=Application
Name=Spotify
Comment=Listen to music and podcasts via a web browser
Categories=KZ;
TryExec=google-chrome
Exec=google-chrome https://open.spotify.com
Icon=kz-spotify
OnlyShowIn=GNOME;Unity;
X-GNOME-Gettext-Domain=kz
X-Ubuntu-Gettext-Domain=kz
