###############################################################################
# Desktop configuration file for kz-setup.
#
# Written by Karel Zimmer <info@karelzimmer.nl> CC0 1.0
# <https://creativecommons.org/publicdomain/zero/1.0>.
###############################################################################

[Desktop Entry]
Type=Application
Name=Set up apps
Comment=Set up apps and change user settings
Categories=KZ;
TryExec=kz
Exec=kz-setup --gui
Icon=kz-setup
OnlyShowIn=GNOME;Unity;
X-GNOME-Gettext-Domain=kz
X-Ubuntu-Gettext-Domain=kz
