# #############################################################################
# SPDX-FileComment: Desktop configuration file for ShellCheck web app
#
# SPDX-FileCopyrightText: Karel Zimmer <info@karelzimmer.nl>
# SPDX-License-Identifier: CC0-1.0
# #############################################################################

[Desktop Entry]
Type=Application
Name= ShellCheck web app
Comment=Check shell scripts from a web browser
Categories=Utility;X-GNOME-Utilities;
TryExec=firefox
Exec=firefox https://www.shellcheck.net
Icon=kz-shellcheck
X-GNOME-Gettext-Domain=kz
X-Ubuntu-Gettext-Domain=kz
