# #############################################################################
# SPDX-FileComment: Desktop configuration file for Spotify web app
#
# SPDX-FileCopyrightText: Karel Zimmer <info@karelzimmer.nl>
# SPDX-License-Identifier: CC0-1.0
# #############################################################################

[Desktop Entry]
Type=Application
Name=Spotify web app
Comment=Listen to music and podcasts via a web browser
Categories=Utility;X-GNOME-Utilities;
TryExec=firefox
Exec=firefox https://open.spotify.com
Icon=kz-spotify
X-GNOME-Gettext-Domain=kz
X-Ubuntu-Gettext-Domain=kz
