###############################################################################
# SPDX-FileComment: Desktop configuration file for Skype web app
#
# SPDX-FileCopyrightText: Karel Zimmer <info@karelzimmer.nl>
# SPDX-License-Identifier: CC0
###############################################################################

[Desktop Entry]
Type=Application
Name=Skype
Comment=Video call with others from a web browser
Categories=Utility;X-GNOME-Utilities;
TryExec=google-chrome
Exec=google-chrome https://web.skype.com
Icon=kz-skype
X-GNOME-Gettext-Domain=kz
X-Ubuntu-Gettext-Domain=kz
