###############################################################################
# Desktop configuration file for Microsoft Teams Web App.
#
# Written by Karel Zimmer <info@karelzimmer.nl>, CC0 1.0 Universal
# <https://creativecommons.org/publicdomain/zero/1.0>, 2022-2023.
###############################################################################

[Desktop Entry]
Type=Application
Name=Teams
Comment=Teams Web App
Categories=Kz-scripts;
Exec=google-chrome https://teams.microsoft.com
Icon=kz-teams
X-GNOME-Gettext-Domain=kz
