###############################################################################
# Desktop configuration file for Microsoft Teams in Google Chrome.
#
# Written in 2022 by Karel Zimmer <info@karelzimmer.nl>, Creative Commons
# Public Domain Dedication <https://creativecommons.org/publicdomain/zero/1.0>.
###############################################################################

[Desktop Entry]
Type=Application
Name=Teams
GenericName=Collaboration program
Comment=Teams Web App
Keywords=kz-teams;teams;
Categories=Kz-scripts;
Exec=google-chrome https://teams.microsoft.com/
Icon=kz-teams
X-GNOME-Gettext-Domain=kz
