# #############################################################################
# SPDX-FileComment: Desktop configuration file for TeamViewer web app
#
# SPDX-FileCopyrightText: Karel Zimmer <info@karelzimmer.nl>
# SPDX-License-Identifier: CC0-1.0
# #############################################################################

[Desktop Entry]
Type=Application
Name= TeamViewer web app
Comment=Manage computers from a web browser
Categories=Utility;X-GNOME-Utilities;
TryExec=firefox
Exec=firefox https://start.teamviewer.com
Icon=kz-teamviewer
X-GNOME-Gettext-Domain=kz
X-Ubuntu-Gettext-Domain=kz
