###############################################################################
# Desktop configuration file for Telegram Web App.
#
# Written in 2023 by Karel Zimmer <info@karelzimmer.nl>, Creative Commons
# Public Domain Dedication <https://creativecommons.org/publicdomain/zero/1.0>.
###############################################################################

[Desktop Entry]
Type=Application
Name=Telegram
Comment=Telegram Web App
Categories=Kz-scripts;
Exec=google-chrome https://web.telegram.org
Icon=kz-telegram
X-GNOME-Gettext-Domain=kz
