###############################################################################
# Desktop configuration file for Microsoft Teams web app.
#
# Written by Karel Zimmer <info@karelzimmer.nl>, CC0 1.0
# <https://creativecommons.org/publicdomain/zero/1.0>.
###############################################################################

[Desktop Entry]
Type=Application
Name=Teams
Comment=Collaborate with others from a web browser
Categories=KZ;
TryExec=google-chrome
Exec=google-chrome https://teams.microsoft.com
Icon=kz-teams
OnlyShowIn=GNOME;Unity;
X-GNOME-Gettext-Domain=kz
X-Ubuntu-Gettext-Domain=kz
