###############################################################################
# Desktop configuration file for Telegram web app.
#
# Written by Karel Zimmer <info@karelzimmer.nl>.
# CC0 1.0 Universal <https://creativecommons.org/publicdomain/zero/1.0>.
###############################################################################

[Desktop Entry]
Type=Application
Name=Telegram
Comment=Send and receive messages, photos and videos via a web browser
Categories=KZ;
TryExec=google-chrome
Exec=google-chrome https://web.telegram.org
Icon=kz-telegram
OnlyShowIn=GNOME;Unity;
X-GNOME-Gettext-Domain=kz
X-Ubuntu-Gettext-Domain=kz
