###############################################################################
# Desktop configuration file for starten VirtualBox VM hugowin732 op
# pc-van-hugo.
#
# Written in 2020 by Karel Zimmer <info@karelzimmer.nl>, Creative Commons
# Public Domain Dedication <https://creativecommons.org/publicdomain/zero/1.0>.
###############################################################################

[Desktop Entry]
Type=Application
Name=Start HugoWin732
Comment=Start VirtualBox VM hugowin732
Categories=Kz-scripts;
Exec=/home/hugo/kz-vm-hugowin732.sh
Icon=virtualbox-vbox
X-GNOME-Gettext-Domain=kz
NoDisplay=true
