###############################################################################
# Desktop configuration file for starten VirtualBox VM hugowin732 op
# pc-van-hugo.
#
# Written in 2020 by Karel Zimmer <info@karelzimmer.nl>, Creative Commons
# Public Domain Dedication <https://creativecommons.org/publicdomain/zero/1.0>.
###############################################################################

[Desktop Entry]
Type=Application
Name=VM-HugoWin732
GenericName=PC virtualization solution
Comment=Start VirtualBox VM hugowin732
Keywords=vbox;virtualization;
Exec=/home/hugo/kz-vm-hugowin732.sh
Categories=Kz-scripts;
Icon=virtualbox-vbox
NoDisplay=true
X-GNOME-Gettext-Domain=kz
