# #############################################################################
# SPDX-FileComment: Desktop configuration file for Visual Studio Code web app
#
# SPDX-FileCopyrightText: Karel Zimmer <info@karelzimmer.nl>
# SPDX-License-Identifier: CC0-1.0
# #############################################################################

[Desktop Entry]
Type=Application
Name=Visual Studio Code web app
Comment=Visual Studio Code from a web browser
Categories=Utility;X-GNOME-Utilities;
TryExec=firefox
Exec=firefox https://vscode.dev
Icon=kz-vscode
X-GNOME-Gettext-Domain=kz
X-Ubuntu-Gettext-Domain=kz
