###############################################################################
# Desktop configuration file for starten VirtualBox VM hugowin732 op
# pc-van-hugo.
#
# Written by Karel Zimmer <info@karelzimmer.nl>.
# CC0 1.0 Universal <https://creativecommons.org/publicdomain/zero/1.0>.
###############################################################################

[Desktop Entry]
Type=Application
Name=Start HugoWin732
Comment=Start VirtualBox VM hugowin732
Categories=KZ;
TryExec=VBoxManage
Exec=VBoxManage startvm hugowin732
Icon=kz-virtualbox
OnlyShowIn=GNOME;Unity;
X-GNOME-Gettext-Domain=kz
X-Ubuntu-Gettext-Domain=kz
