###############################################################################
# Desktop configuration file for kz-wifi.
#
# Written by Karel Zimmer <info@karelzimmer.nl>.
# CC0 1.0 Universal <https://creativecommons.org/publicdomain/zero/1.0>.
###############################################################################

[Desktop Entry]
Type=Application
Name=Show WiFi information
Comment=Show WiFi information
Categories=KZ;
TryExec=kz
Exec=kz-wifi --gui
Icon=kz-wifi
OnlyShowIn=GNOME;Unity;
X-GNOME-Gettext-Domain=kz
X-Ubuntu-Gettext-Domain=kz
