###############################################################################
# Desktop configuration file for Webmin in Google Chrome.
#
# Written in 2018 by Karel Zimmer <info@karelzimmer.nl>, Creative Commons
# Public Domain Dedication <https://creativecommons.org/publicdomain/zero/1.0>.
###############################################################################

[Desktop Entry]
Type=Application
Name=Webmin
GenericName=System managment
Comment=Browser-based system management
Keywords=system;management;
Exec=google-chrome https://localhost:10000
Categories=Kz-scripts;
Icon=kz-webmin
NoDisplay=true
X-GNOME-Gettext-Domain=kz
