# #############################################################################
# SPDX-FileComment: Desktop configuration file for WhatsApp web app
#
# SPDX-FileCopyrightText: Karel Zimmer <info@karelzimmer.nl>
# SPDX-License-Identifier: CC0-1.0
# #############################################################################

[Desktop Entry]
Type=Application
Name=WhatsApp web app
Comment=Send and receive messages, photos and videos from a web browser
Categories=Utility;X-GNOME-Utilities;
TryExec=firefox
Exec=firefox https://web.whatsapp.com
Icon=kz-whatsapp
X-GNOME-Gettext-Domain=kz
X-Ubuntu-Gettext-Domain=kz
