###############################################################################
# Desktop configuration file for WhatsApp in Google Chrome.
#
# Written in 2023 by Karel Zimmer <info@karelzimmer.nl>, Creative Commons
# Public Domain Dedication <https://creativecommons.org/publicdomain/zero/1.0>.
###############################################################################

[Desktop Entry]
Type=Application
Name=WhatsApp Web App
Comment=Private messaging app
Categories=Kz-scripts;
Exec=google-chrome https://web.whatsapp.com
Icon=kz-whatsapp
X-GNOME-Gettext-Domain=kz
