# #############################################################################
# SPDX-FileComment: Desktop configuration file for Webmin web app
#
# SPDX-FileCopyrightText: Karel Zimmer <info@karelzimmer.nl>
# SPDX-License-Identifier: CC0-1.0
# #############################################################################

[Desktop Entry]
Type=Application
Name=Webmin
Comment=Manage Linux servers from a web browser
Categories=Utility;X-GNOME-Utilities;
TryExec=webmin
Exec=firefox https://localhost:10000
Icon=kz-webmin
X-GNOME-Gettext-Domain=kz
X-Ubuntu-Gettext-Domain=kz
