###############################################################################
# Desktop configuration file for WhatsApp Web App.
#
# Written by Karel Zimmer <info@karelzimmer.nl>, CC0 1.0 Universal
# <https://creativecommons.org/publicdomain/zero/1.0>, 2023.
###############################################################################

[Desktop Entry]
Type=Application
Name=WhatsApp
Comment=WhatsApp Web App
Categories=Kz-scripts;
Exec=google-chrome https://web.whatsapp.com
Icon=kz-whatsapp
X-GNOME-Gettext-Domain=kz
