###############################################################################
# Desktop configuration file for Webmin Web App.
#
# Written by Karel Zimmer <info@karelzimmer.nl>, CC0 1.0 Universal
# <https://creativecommons.org/publicdomain/zero/1.0>, 2018-2023.
###############################################################################

[Desktop Entry]
Type=Application
Name=Webmin
Comment=Webmin Web App
Categories=X-GNOME-Kz-scripts;
TryExec=google-chrome
Exec=google-chrome https://localhost:10000
Icon=kz-webmin
X-GNOME-Gettext-Domain=kz
