################################################################################
# Desktop configuration file for Zoom web app.
#
# Written by Karel Zimmer <info@karelzimmer.nl>, CC0 1.0 Universal
# <https://creativecommons.org/publicdomain/zero/1.0>, 2023.
################################################################################

[Desktop Entry]
Type=Application
Name=Zoom
Comment=Video call with others from a web browser
Categories=KZ;
TryExec=google-chrome
Exec=google-chrome https://join.zoom.us
Icon=kz-zoom
OnlyShowIn=GNOME;Unity;
X-GNOME-Gettext-Domain=kz
X-Ubuntu-Gettext-Domain=kz
