# #############################################################################
# SPDX-FileComment: Desktop configuration file for Zoom web app
#
# SPDX-FileCopyrightText: Karel Zimmer <info@karelzimmer.nl>
# SPDX-License-Identifier: CC0-1.0
# #############################################################################

[Desktop Entry]
Type=Application
Name=Zoom web app
Comment=Video call with others from a web browser
Categories=Utility;X-GNOME-Utilities;
TryExec=firefox
Exec=firefox https://join.zoom.us
Icon=kz-zoom
X-GNOME-Gettext-Domain=kz
X-Ubuntu-Gettext-Domain=kz
