###############################################################################
# SPDX-FileComment: Git ignore file for repository kz-scripts
#
# SPDX-FileCopyrightText: Karel Zimmer <info@karelzimmer.nl>
# SPDX-License-Identifier: CC0-1.0
###############################################################################

# Byte-compiled
__pycache__/
