<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">

<!--
 PolicyKit actiedefinitiebestand voor kz backup.

 Geschreven door Karel Zimmer <info@karelzimmer.nl>.
 -->

<policyconfig>

    <vendor>Karel Zimmer</vendor>
    <vendor_url>https://karelzimmer.nl</vendor_url>

    <action id="kz-backup.make-backup">
        <message>Authentication is required to make a backup.</message>
        <message xml:lang="nl">Authenticatie is vereist om een back-up te maken.</message>
        <defaults>
            <allow_any>auth_admin</allow_any>
            <allow_inactive>auth_admin</allow_inactive>
            <allow_active>auth_admin</allow_active>
        </defaults>
        <annotate key="org.freedesktop.policykit.exec.path">/home/karel/kz-scripts/kz-backup</annotate>
        <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
    </action>

    <action id="nl.karelzimmer.kz-backup.make-backup">
        <message>Authentication is required to make a backup.</message>
        <message xml:lang="nl">Authenticatie is vereist om een back-up te maken.</message>
        <defaults>
            <allow_any>auth_admin</allow_any>
            <allow_inactive>auth_admin</allow_inactive>
            <allow_active>auth_admin</allow_active>
        </defaults>
        <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/kz-backup</annotate>
        <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
    </action>

</policyconfig>
