###############################################################################
# Bureaublad-configuratiebestand voor kz backup.                              #
#                                                                             #
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.                         #
###############################################################################

[Desktop Entry]
Type=Application
Name=Make backup
Name[nl]=Back-up maken
GenericName=Backup program
GenericName[nl]=Back-upprogramma
Comment=Back up folders and files
Comment[nl]=Maak een back-up (reservekopie) van mappen en bestanden
Keywords=kz-backup;copy;restore;
Keywords[nl]=kz-backup;reservekopie;herstel;
Categories=KZ Scripts;
Exec=/usr/bin/kz-backup --gui
Icon=/usr/share/pixmaps/kz-backup.svg
Actions=version;

[Desktop Action version]
Name=Show version information
Name[nl]=Versie-informatie tonen
Exec=/usr/bin/kz-backup --gui --version
