###############################################################################
# Bureaublad-configuratiebestand voor kz build.
#
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.
###############################################################################
# RELEASE_YEAR=2021

# VERSION_NUMBER=01.00.00
# VERSION_DATE=2021-09-27

[Desktop Entry]
Type=Application
Name=Build package
Name[nl]=Pakket bouwen
GenericName=Build program
GenericName[nl]=Bouwprogramma
Comment=Builds package and website
Comment[nl]=bouwt pakket en website
Keywords=kzbuild;build;
Keywords[nl]=kzbuild;build;
Categories=KZ Scripts;
Exec=/usr/bin/kz-build --gui
Icon=/usr/share/pixmaps/kz-build.png
Terminal=true
Actions=version;

[Desktop Action version]
Name=Show version information
Name[nl]=Versie-informatie tonen
Exec=/usr/bin/kz-build --gui --version

# EOF
