###############################################################################
# Bureaublad-configuratiebestand voor kz backup.
#
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.
#
# Auteursrecht (c) 2015-2021 Karel Zimmer.
# GNU Algemene Publieke Licentie <https://www.gnu.org/licenses/gpl.html>.
#
# ReleaseNumber: 04.00.00
# DateOfRelease: 2021-08-08
###############################################################################

[Desktop Entry]
Type=Application
Name=Make backup
Name[nl]=Back-up maken
GenericName=Backup program
GenericName[nl]=Back-upprogramma
Comment=Back up folders and files
Comment[nl]=Maak een back-up (reservekopie) van mappen en bestanden
Keywords=kzbackup;kz-backup;copy;restore;
Keywords[nl]=kzbackup;kz-backup;reservekopie;herstel;
Categories=KZ-Scripts;
Exec=pkexec /usr/bin/kz-backup --gui
Icon=/usr/share/pixmaps/kz-backup.svg
Actions=version;

[Desktop Action version]
Name=Show version information
Name[nl]=Versie-informatie tonen
Exec=/usr/bin/kz-backup --gui --version

# EOF
