###############################################################################
# Bureaublad-configuratiebestand voor kz backup.                              #
#                                                                             #
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.                         #
###############################################################################

[Desktop Entry]
Type=Application
Name=Make backup
Name[nl]=Back-up maken
GenericName=Backup program
GenericName[nl]=Back-upprogramma
Comment=Back up folders and files
Comment[nl]=Maak een back-up (reservekopie) van mappen en bestanden
Keywords=kz-backup;copy;restore;
Keywords[nl]=kz-backup;reservekopie;herstel;
Categories=KZ Scripts;
Exec=kz-backup --gui
Icon=kz-backup.svg
