###############################################################################
# Bureaublad-configuratiebestand voor kz ckhtml.
#
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.
###############################################################################
# RELEASE_YEAR=2015

# VERSION_NUMBER=02.00.02
# VERSION_DATE=2021-09-04

[Desktop Entry]
Type=Application
Name=Validate web files
Name[nl]=Webbestanden valideren
GenericName=Check program
GenericName[nl]=Controleprogramma
Comment=Validates HTML and CSS files
Comment[nl]=Valideert HTML- en CSS-bestanden
Keywords=kzckhtml;ckhtml;check;
Keywords[nl]=kzckhtml;ckhtml;check;
Categories=KZ Scripts;
Exec=/usr/bin/kz-ckhtml --gui
Icon=/usr/share/pixmaps/kz-ckhtml.svg
Terminal=true
Actions=version;

[Desktop Action version]
Name=Show version information
Name[nl]=Versie-informatie tonen
Exec=/usr/bin/kz-ckhtml --gui --version

# EOF
