###############################################################################
# Bureaublad-configuratiebestand voor Cockpit in Google Chrome.
#
# Geschreven in 2022 door Karel Zimmer <info@karelzimmer.nl>, Creative Commons
# Publiek Domein Verklaring <http://creativecommons.org/publicdomain/zero/1.0>.
###############################################################################

[Desktop Entry]
Type=Application
Name=Cockpit
Name[nl]=Cockpit
GenericName=System managment
GenericName[nl]=Systeembeheer
Comment=Browser-based system management
Comment[nl]=Browsergebaseerd beheer
Keywords=system;management;
Keywords[nl]=systeem;beheer;
Exec=google-chrome https://localhost:9090
Icon=kz-cockpit
NoDisplay=true
