###############################################################################
# Bureaublad-configuratiebestand voor kzckhtml.
#
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.
#
# Auteursrecht (c) 2015-2021 Karel Zimmer.
# GNU Algemene Publieke Licentie <https://www.gnu.org/licenses/gpl.html>.
#
# ReleaseNumber: 01.04.02
# DateOfRelease: 2021-07-27
###############################################################################

[Desktop Entry]
Type=Application
Name=Validate web files
Name[nl]=Webbestanden valideren
GenericName=Check program
GenericName[nl]=Controleprogramma
Comment=Validates HTML and CSS files
Comment[nl]=Valideert HTML- en CSS-bestanden
Keywords=kzckhtml;ckhtml;check;
Keywords[nl]=kzckhtml;ckhtml;check;
Categories=KZ-Scripts;
Exec=/usr/bin/kzckhtml --gui
Icon=/usr/share/pixmaps/kzckhtml.svg
Terminal=true
Actions=version;

[Desktop Action version]
Name=Show version information
Name[nl]=Versie-informatie tonen
Exec=/usr/bin/kzckhtml --gui --version

# EOF
