###############################################################################
# Bureaublad-configuratiebestand voor kz deploy.
#
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.
###############################################################################
# RELEASE_YEAR=2015

# VERSION_NUMBER=02.00.02
# VERSION_DATE=2021-09-04

[Desktop Entry]
Type=Application
Name=Distribute scripts
Name[nl]=Scripts distribueren
GenericName=CI/CD pipeline
GenericName[nl]=CI/CD pipeline
Comment=Distributes scripts and other files
Comment[nl]=Distribueert scripts en overige bestanden
Keywords=kzdeploy;deploy;
Keywords[nl]=kzdeploy;deploy;
Categories=KZ Scripts;
Exec=/usr/bin/kz-deploy --gui
Icon=/usr/share/pixmaps/kz-deploy.svg
Terminal=true
Actions=version;

[Desktop Action version]
Name=Show version information
Name[nl]=Versie-informatie tonen
Exec=/usr/bin/kz-deploy --gui --version

# EOF
