###############################################################################
# Bureaublad-configuratiebestand voor kz genpwd.
# Gebruik Bitwarden om wachtwoorden te beheren.
#
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.
#
# Auteursrecht (c) 2015-2021 Karel Zimmer.
# GNU Algemene Publieke Licentie <https://www.gnu.org/licenses/gpl.html>.
#
# ReleaseNumber: 03.00.00
# DateOfRelease: 2021-08-08
###############################################################################

[Desktop Entry]
Type=Application
Name=Generate password
Name[nl]=Wachtwoord genereren
GenericName=Generator program
GenericName[nl]=Generatorprogramma
Comment=Generate save passwords
Comment[nl]=Genereer veilige wachtwoorden
Keywords=kzgenpwd;kzg-enpwd;genpwd;password;
Keywords[nl]=kzgenpwd;kz-genpwd;genpwd;wachtwoord;
Categories=KZ-Scripts;
Exec=/usr/bin/kz-genpwd --gui
Icon=/usr/share/pixmaps/kz-genpwd.svg
Terminal=true
Actions=version;

[Desktop Action version]
Name=Show version information
Name[nl]=Versie-informatie tonen
Exec=/usr/bin/kz-genpwd --gui --version

# EOF
