###############################################################################
# Bureaublad-configuratiebestand voor kz getdeb.
#
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.
###############################################################################
# RELEASE_YEAR=2015
# VERSION_NUMBER=003

[Desktop Entry]
Type=Application
Name=Install package kz
Name[nl]=Pakket kz installeren
GenericName=Install program
GenericName[nl]=Installatieprogramma
Comment=Download and install package kz
Comment[nl]=Download en installeer pakket kz
Keywords=kzgetdeb;getdeb;
Keywords[nl]=kzgetdeb;getdeb;
Categories=KZ Scripts;
Exec=/usr/bin/kz-getdeb --gui
Icon=/usr/share/pixmaps/kz-getdeb.svg
Terminal=true
Actions=version;

[Desktop Action version]
Name=Show version information
Name[nl]=Versie-informatie tonen
Exec=/usr/bin/kz-getdeb --gui --version

# EOF
