###############################################################################
# Bureaublad-configuratiebestand voor kz go.
# Gebruik Bitwarden om wachtwoorden te beheren.
#
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.
###############################################################################
# RELEASE_YEAR=2021

# VERSION_NUMBER=01.00.01
# VERSION_DATE=2021-08-27

[Desktop Entry]
Type=Application
Name=Update system
Name[nl]=Systeem bijwerken
GenericName=System Updates
GenericName[nl]=Software-updates
Comment=Execute update for the system
Comment[nl]=Voer update uit voor het systeem
Keywords=kzgo;update;upgrade;
Keywords[nl]=kzgo;update;upgrade;bijwerken;
Categories=KZ Scripts;
Exec=/usr/bin/kz_go --gui
Icon=/usr/share/pixmaps/kz_go.svg
Terminal=true
Actions=version;

# EOF
