###############################################################################
# Bureaublad-configuratiebestand voor kz genpwd.
#
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.
###############################################################################
# RELEASE_YEAR=2015

# VERSION_NUMBER=03.00.01
# VERSION_DATE=2021-08-22

[Desktop Entry]
Type=Application
Name=Generate password
Name[nl]=Wachtwoord genereren
GenericName=Generator program
GenericName[nl]=Generatorprogramma
Comment=Generate save passwords
Comment[nl]=Genereer veilige wachtwoorden
Keywords=kzgenpwd;genpwd;password;
Keywords[nl]=kzgenpwd;genpwd;wachtwoord;
Categories=KZ Scripts;
Exec=/usr/bin/kz_genpwd --gui
Icon=/usr/share/pixmaps/kz_genpwd.svg
Terminal=true
Actions=version;

[Desktop Action version]
Name=Show version information
Name[nl]=Versie-informatie tonen
Exec=/usr/bin/kz_genpwd --gui --version

# EOF
