###############################################################################
# Bureaublad-configuratiebestand voor kz install.                             #
#                                                                             #
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.                         #
###############################################################################

[Desktop Entry]
Type=Application
Name=Install apps
Name[nl]=Apps installeren
GenericName=Install program
GenericName[nl]=Installatieprogramma
Comment=Add apps and change system settings
Comment[nl]=Installeer apps en wijzig systeeminstellingen
Keywords=kzinstall;install;
Keywords[nl]=kzinstall;installatie;
Categories=KZ Scripts;
Exec=pkexec kz-install --gui
Icon=/usr/share/pixmaps/kz-install.svg
Actions=info;remove;list;cat;simulate;

[Desktop Action info]
Name=Show installation instructions
Name[nl]=Installatie-instructies tonen
Exec=kz-install --gui --info

[Desktop Action remove]
Name=Show removal instructions
Name[nl]=Verwijder-instructies tonen
Exec=kz-install --gui --remove

[Desktop Action list]
Name=Create app list
Name[nl]=Applijst maken
Exec=kz-install --gui --list

[Desktop Action cat]
Name=Show files
Name[nl]=Bestanden tonen
Exec=kz-install --gui --cat

[Desktop Action simulate]
Name=Show commands
Name[nl]=Opdrachten tonen
Exec=kz-install --gui --simulate
