###############################################################################
# Bureaublad-configuratiebestand voor kz mkusb.
#
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.
###############################################################################
# RELEASE_YEAR=2015

# VERSION_NUMBER=02.00.02
# VERSION_DATE=2021-09-04

[Desktop Entry]
Type=Application
Name=Making USB sticks
Name[nl]=USB-sticks maken
GenericName=Write program
GenericName[nl]=Schrijfprogramma
Comment=Create bootable USB sticks
Comment[nl]=Maak opstartbare USB-sticks
Keywords=kzmkusb;mkusb;
Keywords[nl]=kzmkusb;mkusb;
Categories=KZ Scripts;
Exec=/usr/bin/kz-mkusb --gui
Icon=/usr/share/pixmaps/kz-mkusb.svg
Terminal=true
Actions=version;

[Desktop Action version]
Name=Show version information
Name[nl]=Versie-informatie tonen
Exec=/usr/bin/kz-mkusb --gui --version

# EOF
