###############################################################################
# Bureaublad-configuratiebestand voor kz menu.
#
# Geschreven door Karel Zimmer <info@karelzimmer.nl> en gelicentieerd onder CC0
# <http://creativecommons.org/publicdomain/zero/1.0/deed.nl>.
###############################################################################

[Desktop Entry]
Type=Application
Name=Installation menu
Name[nl]=Installatiemenu
GenericName=Installation helper
GenericName[nl]=Installatiehulp
Comment=Run commands through a menu
Comment[nl]=Voer opdrachten uit via een menu
Keywords=kzmenu;menu;
Keywords[nl]=kzmenu;menu;
Categories=KZ Scripts;
Exec=kz-menu --gui
Icon=kz-menu
