###############################################################################
# Bureaublad-configuratiebestand voor kz menu.                                #
#                                                                             #
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.                         #
###############################################################################

[Desktop Entry]
Type=Application
Name=Installation menu
Name[nl]=Installatiemenu
GenericName=Installation helper
GenericName[nl]=Installatiehulp
Comment=Run commands through a menu
Comment[nl]=Voer opdrachten uit via een menu
Keywords=kzmenu;menu;
Keywords[nl]=kzmenu;menu;
Categories=KZ Scripts;
Exec=kz-menu --gui
Icon=kz-menu
