###############################################################################
# Bureaublad-configuratiebestand voor kz nas.
#
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.
###############################################################################

[Desktop Entry]
Type=Application
Name=Mount network drive
Name[nl]=Netwerkschijf aankoppelen
GenericName=NAS mount
GenericName[nl]=NAS-aankoppelen
Comment=Mount a NAS during startup
Comment[nl]=Koppel een NAS aan tijdens het opstarten
Keywords=kznas;mount;network;
Keywords[nl]=kznas;aankoppelen;netwerk;
Categories=KZ Scripts;
Exec=pkexec /usr/bin/kz-nas --gui
Icon=/usr/share/pixmaps/kz-nas.png
Actions=version;

[Desktop Action version]
Name=Show version information
Name[nl]=Versie-informatie tonen
Exec=/usr/bin/kz-nas --gui --version

