<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">

<!--
###############################################################################
# PolicyKit actiedefinitiebestand voor kz nas.
#
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.
###############################################################################
-->

<policyconfig>

    <vendor>Karel Zimmer</vendor>
    <vendor_url>https://karelzimmer.nl</vendor_url>

    <!-- Deze actie wordt gebruikt voor de ontwikkel-omgeving.
         This action is used for the development environment. -->
    <action id="kz-nas.attach-nas">
        <message>Authentication is required to mount a network drive.</message>
        <message xml:lang="nl">Authenticatie is vereist om een netwerkschijf te koppelen.</message>
        <defaults>
            <allow_any>auth_admin</allow_any>
            <allow_inactive>auth_admin</allow_inactive>
            <allow_active>auth_admin</allow_active>
        </defaults>
        <annotate key="org.freedesktop.policykit.exec.path">/home/karel/kz-scripts/kz-nas</annotate>
        <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
    </action>

    <!-- Deze actie wordt gebruikt voor de productie-omgeving.
         This action is used for the production environment. -->
    <vendor>Karel Zimmer</vendor>
    <vendor_url>https://karelzimmer.nl</vendor_url>

    <action id="nl.karelzimmer.kz-nas.attach-nas">
        <message>Authentication is required to mount a network drive.</message>
        <message xml:lang="nl">Authenticatie is vereist om een netwerkschijf te koppelen.</message>
        <defaults>
            <allow_any>auth_admin</allow_any>
            <allow_inactive>auth_admin</allow_inactive>
            <allow_active>auth_admin</allow_active>
        </defaults>
        <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/kz-nas</annotate>
        <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
    </action>

</policyconfig>
