###############################################################################
# Bureaublad-configuratiebestand voor kz nas.                                 #
#                                                                             #
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.                         #
###############################################################################

[Desktop Entry]
Type=Application
Name=Mount NAS
Name[nl]=NAS aankoppelen
GenericName=NAS mount
GenericName[nl]=NAS-aankoppelen
Comment=Mount a NAS during startup
Comment[nl]=Koppel een NAS aan tijdens het opstarten
Keywords=kznas;mount;network;
Keywords[nl]=kznas;aankoppelen;netwerk;
Categories=KZ Scripts;
Exec=pkexec /usr/bin/kz-nas --gui
Icon=/usr/share/pixmaps/kz-nas.png
