###############################################################################
# Bureaublad-configuratiebestand voor kz restore.
#
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.
###############################################################################

[Desktop Entry]
Type=Application
Name=Restore backup
Name[nl]=Back-up terugzetten
GenericName=Restore progam
GenericName[nl]=Herstelprogramma
Comment=Restore files and folders from a backup
Comment[nl]=Zet bestanden en mappen terug uit een back-up (reservekopie)
Keywords=kzrestore;restore;copy;
Keywords[nl]=kzrestore;restore;back-up;reservekopie;
Categories=KZ Scripts;
Exec=pkexec /usr/bin/kz-restore --gui
Icon=/usr/share/pixmaps/kz-restore.svg
Actions=version;

[Desktop Action version]
Name=Show version information
Name[nl]=Versie-informatie tonen
Exec=/usr/bin/kz-restore --gui --version

# EOF
