###############################################################################
# Bureaublad-configuratiebestand voor kz restore.                             #
#                                                                             #
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.                         #
###############################################################################

[Desktop Entry]
Type=Application
Name=Restore backup
Name[nl]=Back-up terugzetten
GenericName=Restore progam
GenericName[nl]=Herstelprogramma
Comment=Restore files and folders from a backup
Comment[nl]=Zet bestanden en mappen terug uit een reservekopie
Keywords=kz-restore;restore;copy;
Keywords[nl]=kz-restore;restore;reservekopie;
Categories=KZ Scripts;
Exec=kz-restore --gui
Icon=kz-restore
