###############################################################################
# Bureaublad-configuratiebestand voor kz setup.                               #
#                                                                             #
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.                         #
###############################################################################

[Desktop Entry]
Type=Application
Name=Set up apps
Name[nl]=Apps instellen
GenericName=Setup progam
GenericName[nl]=Instelprogramma
Comment=Setup apps and change user settings
Comment[nl]=Stel apps in en  en wijzig gebruikersinstellingen
Keywords=kzsetup;setup;
Keywords[nl]=kzsetup;setup;
Categories=KZ Scripts;
Exec=kz-setup --gui
Icon=kz-setup
Actions=list;

[Desktop Action list]
Name=Create setup list
Name[nl]=Instellijst maken
Exec=kz-setup --gui --list
