###############################################################################
# Bureaublad-configuratiebestand voor kz setup.
#
# Geschreven in 2015 door Karel Zimmer <info@karelzimmer.nl>, Creative Commons
# Publiek Domein Verklaring <http://creativecommons.org/publicdomain/zero/1.0>.
###############################################################################

[Desktop Entry]
Type=Application
Name=Set up apps
Name[nl]=Apps instellen
GenericName=Setup program
GenericName[nl]=Instelprogramma
Comment=Setup apps and change settings
Comment[nl]=Stel apps in en  en wijzig instellingen
Keywords=kzsetup;setup;
Keywords[nl]=kzsetup;setup;
Categories=KZ Scripts;
Exec=kz-setup --gui
Icon=kz-setup
Actions=list;

[Desktop Action list]
Name=Create setup list
Name[nl]=Instellijst maken
Exec=kz-setup --gui --list
