###############################################################################
# Bureaublad-configuratiebestand voor kz spsum.
#
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.
#
# Auteursrecht (c) 2015-2021 Karel Zimmer.
# GNU Algemene Publieke Licentie <https://www.gnu.org/licenses/gpl.html>.
#
# ReleaseNumber: 02.00.00
# DateOfRelease: 2021-08-08
###############################################################################

[Desktop Entry]
Type=Application
Name=Split control files
Name[nl]=Controlebestanden opsplitsen
GenericName=Utility program
GenericName[nl]=Hulpprogramma
Comment=Split control files (SHA256SUMS)
Comment[nl]=Splits controlebestanden (SHA256SUMS) op
Keywords=kzspsum;kz-spsum;spsum;
Keywords[nl]=kzspsum;kz-spsum;spsum;
Categories=KZ-Scripts;
Exec=/usr/bin/kz-spsum --gui
Icon=/usr/share/pixmaps/kz-spsum.svg
Terminal=true
Actions=version;

[Desktop Action version]
Name=Show version information
Name[nl]=Versie-informatie tonen
Exec=/usr/bin/kz-spsum --gui --version

# EOF
