###############################################################################
# Bureaublad-configuratiebestand voor Microsoft Teams in Google Chrome.
#
# Geschreven door Karel Zimmer <info@karelzimmer.nl>, Publiek Domein Verklaring
# <http://creativecommons.org/publicdomain/zero/1.0/deed.nl>.
###############################################################################

[Desktop Entry]
Type=Application
Name=Teams Web App
Name[nl]=Teams Web App
GenericName=Setup program
GenericName[nl]=Instelprogramma
Comment=Communication and collaboration platform
Comment[nl]=Communicatie- en samenwerkingsplatform
Keywords=kzteams;teams;
Keywords[nl]=kzteams;teams;
Categories=KZ Scripts;
Exec=google-chrome https://teams.microsoft.com/
Icon=kz-teams
