###############################################################################
# Bureaublad-configuratiebestand voor Microsoft Teams in Google Chrome.
#
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.
###############################################################################

[Desktop Entry]
Type=Application
Name=Start Teams
Name[nl]=Teams starten
GenericName=Setup program
GenericName[nl]=Instelprogramma
Comment=Communication and collaboration platform
Comment[nl]=Communicatie- en samenwerkingsplatform
Keywords=kzteams;teams;
Keywords[nl]=kzteams;teams;
Categories=KZ Scripts;
Exec=google-chrome https://www.microsoft.com/nl-nl/microsoft-teams/log-in
Icon=kz-teams
