###############################################################################
# Bureaublad-configuratiebestand voor kz update.
# Gebruik Bitwarden om wachtwoorden te beheren.
#
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.
###############################################################################
# RELEASE_YEAR=2021

# VERSION_NUMBER=01.01.00
# VERSION_DATE=2021-09-04

[Desktop Entry]
Type=Application
Name=Update system
Name[nl]=Systeem bijwerken
GenericName=System Updates
GenericName[nl]=Software-updates
Comment=Execute update for the system
Comment[nl]=Voer update uit voor het systeem
Keywords=kzupdate;update;upgrade;
Keywords[nl]=kzupdate;update;upgrade;bijwerken;
Categories=KZ Scripts;
Exec=/usr/bin/kz-update --gui
Icon=/usr/share/pixmaps/kz-update.svg
Terminal=true
Actions=version;

[Desktop Action version]
Name=Show version information
Name[nl]=Versie-informatie tonen
Exec=/usr/bin/kz-update --gui --version

# EOF
