###############################################################################
# Bureaublad-configuratiebestand voor starten VirtualBox VM hugowin732 op
# pc-van-hugo.
#
# Geschreven door Karel Zimmer <info@karelzimmer.nl> en gelicentieerd onder CC0
# <http://creativecommons.org/publicdomain/zero/1.0/deed.nl>.
###############################################################################

[Desktop Entry]
Type=Application
Name=HugoWin732 starten
GenericName=PC-virtualisatie-oplossing
Comment=Start VirtualBox VM hugowin732
Keywords=vbox;virtualisatie;
Exec=/home/hugo/kz-vm-hugowin732.sh
Icon=virtualbox-vbox
NoDisplay=true
