###############################################################################
# Bureaubladbestand voor starten VirtualBox VM hugowin732 op pc-van-hugo.
#
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.
###############################################################################
# RELEASE_YEAR=2017

# VERSION_NUMBER=04.02.01
# VERSION_DATE=2021-09-04

[Desktop Entry]
Type=Application
Name=HugoWin732 starten
GenericName=PC-virtualisatie-oplossing
Comment=Start VirtualBox VM hugowin732
Keywords=vbox;virtualisatie;
Categories=KZ Scripts;
Exec=/home/hugo/kz-vm-hugowin732.sh
Icon=virtualbox-vbox
NoDisplay=true

# EOF
