###############################################################################
# Bureaubladbestand voor starten VirtualBox VM hugowin732 op pc-van-hugo.
#
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.
###############################################################################

[Desktop Entry]
Type=Application
Name=HugoWin732 starten
GenericName=PC-virtualisatie-oplossing
Comment=Start VirtualBox VM hugowin732
Keywords=vbox;virtualisatie;
Categories=KZ Scripts;
Exec=/home/hugo/kz-vm-hugowin732.sh
Icon=virtualbox-vbox
NoDisplay=true

# EOF
