###############################################################################
# Bureaublad-configuratiebestand voor kz wifi.
#
# Geschreven in 2022 door Karel Zimmer <info@karelzimmer.nl>, Creative Commons
# Publiek Domein Verklaring <http://creativecommons.org/publicdomain/zero/1.0>.
###############################################################################

[Desktop Entry]
Type=Application
Name=Show Wifi data
Name[nl]=Wifi-gegevens tonen
GenericName=Utility program
GenericName[nl]=Hulpprogramma
Comment=Show wifi data
Comment[nl]=Toon wifi-gegevens
Keywords=wifi;network;
Keywords[nl]=wifi;netwerk;
Categories=KZ Scripts;
Exec=kz-wifi
Icon=kz-wifi
