###############################################################################
# Bureaublad-configuratiebestand voor Webmin.
#
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.
###############################################################################

[Desktop Entry]
Type=Application
Name=Webmin
Name[nl]=Webmin
GenericName=System managment
GenericName[nl]=Systeembeheer
Comment=Browser-based system management
Comment[nl]=Browsergebaseerd beheer
Keywords=system;management;
Keywords[nl]=systeem;beheer;
Exec=google-chrome https://localhost:10000
Icon=kz-webmin
NoDisplay=true
