###############################################################################
# Bureaublad-configuratiebestand voor kz wifi.
#
# Geschreven door Karel Zimmer <info@karelzimmer.nl> en gelicentieerd onder CC0
# <http://creativecommons.org/publicdomain/zero/1.0/deed.nl>.
###############################################################################

[Desktop Entry]
Type=Application
Name=Show Wifi data
Name[nl]=Wifi-gegevens tonen
GenericName=Utility program
GenericName[nl]=Hulpprogramma
Comment=Show wifi data
Comment[nl]=Toon wifi-gegevens
Keywords=wifi;network;
Keywords[nl]=wifi;netwerk;
Categories=KZ Scripts;
Exec=kz-wifi
Icon=kz-wifi
