###############################################################################
# Bureaublad-configuratiebestand voor eHRM van Zga via Google Chrome.         #
#                                                                             #
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.                         #
###############################################################################

[Desktop Entry]
Type=Application
Name=Zga eHRM
GenericName=Elektronisch personeelsbeheer
Comment=Start eHRM Zorggroep Almere met Google Chrome
Keywords=personeel;informatie;pz;
Categories=KZ Scripts;
Exec=google-chrome https://login.youforce.biz/Aanmelden
Icon=kz-zga-ehrm.jpeg
NoDisplay=true
