###############################################################################
# Bureaublad-configuratiebestand voor Intranet van Zga via Google Chrome.
#
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.
#
# Auteursrecht (c) 2020-2021 Karel Zimmer.
# GNU Algemene Publieke Licentie <https://www.gnu.org/licenses/gpl.html>.
#
# ReleaseNumber: 03.01.08
# DateOfRelease: 2021-05-08
###############################################################################

[Desktop Entry]
Type=Application
Name=Zga Intranet
GenericName=Beperkt communicatienetwerk
Comment=Start Intranet Zorggroep Almere met Google Chrome
Keywords=personeel;informatie;
Categories=KZ-Scripts;
Exec=google-chrome https://iza.zorggroep-almere.nl/
Icon=/usr/share/pixmaps/kz-zga-intranet.jpeg
NoDisplay=true

# EOF
