###############################################################################
# Bureaublad-configuratiebestand voor Monaco van Zga via Google Chrome.       #
#                                                                             #
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.                         #
###############################################################################

[Desktop Entry]
Type=Application
Name=Zga Monaco
GenericName=Planningssysteem
Comment=Start Monaco Zorggroep Almere met Google Chrome
Keywords=personeel;informatie;
Categories=KZ Scripts;
Exec=google-chrome http://www.portaalzga.nl/
Icon=/usr/share/pixmaps/kz-zga-monaco.ico
NoDisplay=true
