###############################################################################
# Bureaublad-configuratiebestand voor WebMail van Zga via Google Chrome.      #
#                                                                             #
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.                         #
###############################################################################

[Desktop Entry]
Type=Application
Name=Zga WebMail
GenericName=Mailprogramma
Comment=Start WebMail Zorggroep Almere met Google Chrome
Keywords=personeel;informatie;
Categories=KZ Scripts;
Exec=google-chrome https://outlook.com/owa/zorggroep-almere.nl
Icon=kz-zga-webmail.png
NoDisplay=true
