###############################################################################
# Bureaublad-configuratiebestand voor Intranet van Zga via Google Chrome.
#
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.
###############################################################################
# RELEASE_YEAR=2020

# VERSION_NUMBER=03.01.10
# VERSION_DATE=2021-09-04

[Desktop Entry]
Type=Application
Name=Zga Intranet
GenericName=Beperkt communicatienetwerk
Comment=Start Intranet Zorggroep Almere met Google Chrome
Keywords=personeel;informatie;
Categories=KZ Scripts;
Exec=google-chrome https://iza.zorggroep-almere.nl/
Icon=/usr/share/pixmaps/kz-zga-intranet.jpeg
NoDisplay=true

# EOF
