###############################################################################
# Bureaublad-configuratiebestand voor eHRM van Zga via Google Chrome.
#
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.
###############################################################################
# RELEASE_YEAR=2020

# VERSION_NUMBER=03.00.02
# VERSION_DATE=2021-09-04

[Desktop Entry]
Type=Application
Name=Zga eHRM
GenericName=Elektronisch personeelsbeheer
Comment=Start eHRM Zorggroep Almere met Google Chrome
Keywords=personeel;informatie;pz;
Categories=KZ Scripts;
Exec=google-chrome https://login.youforce.biz/Aanmelden
Icon=/usr/share/pixmaps/kz-zga-ehrm.jpeg
NoDisplay=true

# EOF
