###############################################################################
# Bureaublad-configuratiebestand voor kz archive.
#
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.
#
# Auteursrecht (c) 2015-2021 Karel Zimmer.
# GNU Algemene Publieke Licentie <https://www.gnu.org/licenses/gpl.html>.
#
# ReleaseNumber: 02.00.00
# DateOfRelease: 2021-08-08
###############################################################################

[Desktop Entry]
Type=Application
Name=Archive scripts
Name[nl]=Scripts archiveren
GenericName=Archive program
GenericName[nl]=Archiefprogramma
Comment=Archive scripts and other files
Comment[nl]=Archiveer scripts en overige bestanden
Keywords=kzarchive;
Keywords[nl]=kzarchive;
Categories=KZ-Scripts;
Exec=/usr/bin/kz_archive --gui
Icon=/usr/share/pixmaps/kz_archive.svg
Terminal=true
Actions=version;

[Desktop Action version]
Name=Show version information
Name[nl]=Versie-informatie tonen
Exec=/usr/bin/kz_archive --gui --version

# EOF
