###############################################################################
# Bureaublad-configuratiebestand voor kz archive.
#
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.
###############################################################################
# RELEASE_YEAR=2015

# VERSION_NUMBER=02.00.01
# VERSION_DATE=2021-08-22

[Desktop Entry]
Type=Application
Name=Archive scripts
Name[nl]=Scripts archiveren
GenericName=Archive program
GenericName[nl]=Archiefprogramma
Comment=Archive scripts and other files
Comment[nl]=Archiveer scripts en overige bestanden
Keywords=kzarchive;
Keywords[nl]=kzarchive;
Categories=KZ Scripts;
Exec=/usr/bin/kz_archive --gui
Icon=/usr/share/pixmaps/kz_archive.svg
Terminal=true
Actions=version;

[Desktop Action version]
Name=Show version information
Name[nl]=Versie-informatie tonen
Exec=/usr/bin/kz_archive --gui --version

# EOF
