###############################################################################
# Bureaublad-configuratiebestand voor kz backup.
#
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.
###############################################################################
# RELEASE_YEAR=2015

# VERSION_NUMBER=04.00.01
# VERSION_DATE=2021-08-22

[Desktop Entry]
Type=Application
Name=Make backup
Name[nl]=Back-up maken
GenericName=Backup program
GenericName[nl]=Back-upprogramma
Comment=Back up folders and files
Comment[nl]=Maak een back-up (reservekopie) van mappen en bestanden
Keywords=kzbackup;copy;restore;
Keywords[nl]=kzbackup;reservekopie;herstel;
Categories=Kz Scripts;
Exec=pkexec /usr/bin/kz_backup --gui
Icon=/usr/share/pixmaps/kz_backup.svg
Actions=version;

[Desktop Action version]
Name=Show version information
Name[nl]=Versie-informatie tonen
Exec=/usr/bin/kz_backup --gui --version

# EOF
