###############################################################################
# Bureaublad-configuratiebestand voor kz ckname.
#
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.
###############################################################################
# RELEASE_YEAR=2015

# VERSION_NUMBER=02.00.01
# VERSION_DATE=2021-08-22

[Desktop Entry]
Type=Application
Name=Check file names
Name[nl]=Bestandsnamen controleren
GenericName=Check program
GenericName[nl]=Controleprogramma
Comment=Checks NTFS folder and file names
Comment[nl]=Controleert NTFS map- en bestandsnamen
Keywords=kzckname;ckname;check;name;
Keywords[nl]=kzckname;;ckname;check;naam;
Categories=Kz Scripts;
Exec=/usr/bin/kz_ckname --gui
Icon=/usr/share/pixmaps/kz_ckname.svg
Terminal=true
Actions=version;

[Desktop Action version]
Name=Show version information
Name[nl]=Versie-informatie tonen
Exec=/usr/bin/kz_ckname --gui --version

# EOF
