###############################################################################
# Bureaublad-configuratiebestand voor kz dliso.
#
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.
#
# Auteursrecht (c) 2015-2021 Karel Zimmer.
# GNU Algemene Publieke Licentie <https://www.gnu.org/licenses/gpl.html>.
#
# ReleaseNumber: 02.00.00
# DateOfRelease: 2021-08-08
###############################################################################

[Desktop Entry]
Type=Application
Name=Download image files
Name[nl]=Beeldbestanden downloaden
GenericName=Download program
GenericName[nl]=Downloadprogramma
Comment=Download Ubuntu Linux image files and control files
Comment[nl]=Download Ubuntu Linux beeldbestanden en controlebestanden
Keywords=kzdliso;dliso;iso;
Keywords[nl]=kzdliso;dliso;iso;
Categories=Kz Scripts;
Exec=/usr/bin/kz_dliso --gui
Icon=/usr/share/pixmaps/kz_dliso.svg
Terminal=true
Actions=version;

[Desktop Action version]
Name=Show version information
Name[nl]=Versie-informatie tonen
sExec=/usr/bin/kz_dliso --gui --version

# EOF
