###############################################################################
# Bureaublad-configuratiebestand voor kz dliso.
#
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.
###############################################################################
# RELEASE_YEAR=2015

# VERSION_NUMBER=02.00.01
# VERSION_DATE=2021-08-22

[Desktop Entry]
Type=Application
Name=Download image files
Name[nl]=Beeldbestanden downloaden
GenericName=Download program
GenericName[nl]=Downloadprogramma
Comment=Download Ubuntu Linux image files and control files
Comment[nl]=Download Ubuntu Linux beeldbestanden en controlebestanden
Keywords=kzdliso;dliso;iso;
Keywords[nl]=kzdliso;dliso;iso;
Categories=KZ Scripts;
Exec=/usr/bin/kz_dliso --gui
Icon=/usr/share/pixmaps/kz_dliso.svg
Terminal=true
Actions=version;

[Desktop Action version]
Name=Show version information
Name[nl]=Versie-informatie tonen
sExec=/usr/bin/kz_dliso --gui --version

# EOF
