###############################################################################
# Bureaublad-configuratiebestand voor kz getdeb.
#
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.
#
# Auteursrecht (c) 2015-2021 Karel Zimmer.
# GNU Algemene Publieke Licentie <https://www.gnu.org/licenses/gpl.html>.
#
# ReleaseNumber: 03.00.00
# DateOfRelease: 2021-08-08
###############################################################################

[Desktop Entry]
Type=Application
Name=Install scripts
Name[nl]=Scripts installeren
GenericName=Install program
GenericName[nl]=Installatieprogramma
Comment=Download and install package kzscripts
Comment[nl]=Download en installeer pakket kzscripts
Keywords=kzgetdeb;getdeb;
Keywords[nl]=kzgetdeb;getdeb;
Categories=KZ-Scripts;
Exec=/usr/bin/kz_getdeb --gui
Icon=/usr/share/pixmaps/kz_getdeb.svg
Terminal=true

# EOF
