###############################################################################
# Bureaublad-configuratiebestand voor kz genpwd.
# Gebruik Bitwarden om wachtwoorden te beheren.
#
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.
#
# Auteursrecht (c) 2021 Karel Zimmer.
# GNU Algemene Publieke Licentie <https://www.gnu.org/licenses/gpl.html>.
#
# ReleaseNumber: 03.00.00
# DateOfRelease: 2021-08-08
###############################################################################

[Desktop Entry]
Type=Application
Name=Generate password
Name[nl]=Wachtwoord genereren
GenericName=Generator program
GenericName[nl]=Generatorprogramma
Comment=Generate save passwords
Comment[nl]=Genereer veilige wachtwoorden
Keywords=kzgenpwd;genpwd;password;
Keywords[nl]=kzgenpwd;genpwd;wachtwoord;
Categories=Kz Scripts;
Exec=/usr/bin/kz_genpwd --gui
Icon=/usr/share/pixmaps/kz_genpwd.svg
Terminal=true
Actions=version;

[Desktop Action version]
Name=Show version information
Name[nl]=Versie-informatie tonen
Exec=/usr/bin/kz_genpwd --gui --version

# EOF
