###############################################################################
# Bureaublad-configuratiebestand voor kz gset.
#
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.
#
# Auteursrecht (c) 2015-2021 Karel Zimmer.
# GNU Algemene Publieke Licentie <https://www.gnu.org/licenses/gpl.html>.
#
# ReleaseNumber: 02.00.00
# DateOfRelease: 2021-08-08
###############################################################################

[Desktop Entry]
Type=Application
Name=GUI modify
Name[nl]=GUI wijzigen
GenericName=Config program
GenericName[nl]=Configuratieprogramma
Comment=Shows changes to the configuration database after GUI changes
Comment[nl]=Toont wijzigingen in de configuratiedatabase na GUI-aanpassingen
Keywords=kzgset;gsettings;
Keywords[nl]=kzgset;gsettings;
Categories=Kz Scripts;
Exec=/usr/bin/kz_gset --gui
Icon=/usr/share/pixmaps/kz_gset.svg
Terminal=true
Actions=version;

[Desktop Action version]
Name=Show version information
Name[nl]=Versie-informatie tonen
Exec=/usr/bin/kz_gset --gui --version

# EOF
