###############################################################################
# Bureaublad-configuratiebestand voor kz ivp.
#
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.
###############################################################################
# RELEASE_YEAR=2015

# VERSION_NUMBER=03.00.01
# VERSION_DATE=2021-08-22

[Desktop Entry]
Type=Application
Name=Check scripts
Name[nl]=Scripts controleren
GenericName=Check program
GenericName[nl]=Controleprogramma
Comment=Installation Verification Procedure (IVP) for scripts
Comment[nl]=Installatie Verificatie Procedure (IVP) voor scripts
Keywords=kzivpsh;ivp;
Keywords[nl]=kzivpsh;ivp;
Categories=KZ Scripts;
Exec=/usr/bin/kz_ivp --gui
Icon=/usr/share/pixmaps/kz_ivp.svg
Terminal=true
Actions=version;

[Desktop Action version]
Name=Show version information
Name[nl]=Versie-informatie tonen
Exec=/usr/bin/kz_ivp --gui --version

# EOF
