###############################################################################
# Bureaublad-configuratiebestand voor kz ivp.
#
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.
#
# Auteursrecht (c) 2015-2021 Karel Zimmer.
# GNU Algemene Publieke Licentie <https://www.gnu.org/licenses/gpl.html>.
#
# ReleaseNumber: 03.00.00
# DateOfRelease: 2021-08-08
###############################################################################

[Desktop Entry]
Type=Application
Name=Check scripts
Name[nl]=Scripts controleren
GenericName=Check program
GenericName[nl]=Controleprogramma
Comment=Installation Verification Procedure (IVP) for scripts
Comment[nl]=Installatie Verificatie Procedure (IVP) voor scripts
Keywords=kzivpsh;kz-ivpsh;ivp;
Keywords[nl]=kzivpsh;kz-ivpsh;ivp;
Categories=KZ-Scripts;
Exec=/usr/bin/kz-ivp --gui
Icon=/usr/share/pixmaps/kz-ivp.svg
Terminal=true
Actions=version;

[Desktop Action version]
Name=Show version information
Name[nl]=Versie-informatie tonen
Exec=/usr/bin/kz-ivp --gui --version

# EOF
