###############################################################################
# Bureaublad-configuratiebestand voor kz install.
#
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.
#
# Auteursrecht (c) 2016-2021 Karel Zimmer.
# GNU Algemene Publieke Licentie <https://www.gnu.org/licenses/gpl.html>.
#
# ReleaseNumber: 08.00.00
# DateOfRelease: 2021-08-15
###############################################################################

[Desktop Entry]
Type=Application
Name=Install apps
Name[nl]=Apps installeren
GenericName=Install program
GenericName[nl]=Installatieprogramma
Comment=Add apps and change system settings
Comment[nl]=Installeer apps en wijzig systeeminstellingen
Keywords=kzinstall;install;
Keywords[nl]=kzinstall;installatie;
Categories=Kz Scripts;
Exec=pkexec /usr/bin/kz_install --gui
Icon=/usr/share/pixmaps/kz_install.svg
Actions=info;remove;list;cat;simulate;version;

[Desktop Action info]
Name=Show installation instructions
Name[nl]=Installatie-instructies tonen
Exec=/usr/bin/kz_install --gui --info

[Desktop Action remove]
Name=Show removal instructions
Name[nl]=Verwijder-instructies tonen
Exec=/usr/bin/kz_install --gui --remove

[Desktop Action list]
Name=Create app list
Name[nl]=Applijst aanmaken
Exec=pkexec /usr/bin/kz_install --gui --list

[Desktop Action cat]
Name=Show files
Name[nl]=Bestanden tonen
Exec=/usr/bin/kz_install --gui --cat

[Desktop Action simulate]
Name=Show commands
Name[nl]=Opdrachten tonen
Exec=/usr/bin/kz_install --gui --simulate

[Desktop Action version]
Name=Show version information
Name[nl]=Versie-informatie tonen tonen
Exec=/usr/bin/kz_install --gui --version

# EOF
