###############################################################################
# Bureaublad-configuratiebestand voor kz lsinstalled.
#
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.
#
# Auteursrecht (c) 2016-2021 Karel Zimmer.
# GNU Algemene Publieke Licentie <https://www.gnu.org/licenses/gpl.html>.
#
# ReleaseNumber: 05.00.00
# DateOfRelease: 2021-08-08
###############################################################################

[Desktop Entry]
Type=Application
Name=Create app list
Name[nl]=Applijst maken
GenericName=List software program
GenericName[nl]=Softwarelijstprogramma
Comment=Collect added repositories and installed packages
Comment[nl]=Verzamel toegevoegde pakketbronnen en geïnstalleerde pakketten
Keywords=kzlsinstalled;lsinstalled;softwarelist;applicationlist;
Keywords[nl]=kzlsinstalled;softwaret;programma;app;
Categories=Kz Scripts;
Exec=pkexec /usr/bin/kz_lsinstalled --gui
Icon=/usr/share/pixmaps/kz_lsinstalled.svg
Actions=version;

[Desktop Action version]
Name=Show version information
Name[nl]=Versie-informatie tonen
Exec=/usr/bin/kz_lsinstalled --gui --version

# EOF
