###############################################################################
# Bureaublad-configuratiebestand voor kz menu.
#
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.
#
# Auteursrecht (c) 2020-2021 Karel Zimmer.
# GNU Algemene Publieke Licentie <https://www.gnu.org/licenses/gpl.html>.
#
# ReleaseNumber: 09.00.00
# DateOfRelease: 2021-08-08
###############################################################################

[Desktop Entry]
Type=Application
Name=Installation menu
Name[nl]=Installatiemenu
GenericName=Installation helper
GenericName[nl]=Installatiehulp
Comment=Run commands through a menu
Comment[nl]=Voer opdrachten uit via een menu
Keywords=kzmenu;menu;
Keywords[nl]=kzmenu;menu;
Categories=Kz Scripts;
Exec=/usr/bin/kz_menu --gui
Icon=/usr/share/pixmaps/kz_menu.svg
Actions=version;

[Desktop Action version]
Name=Show version information
Name[nl]=Versie-informatie tonen
Exec=/usr/bin/kz_menu --gui --version

# EOF
