###############################################################################
# Bureaublad-configuratiebestand voor kz mkusb.
#
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.
#
# Auteursrecht (c) 2015-2021 Karel Zimmer.
# GNU Algemene Publieke Licentie <https://www.gnu.org/licenses/gpl.html>.
#
# ReleaseNumber: 02.00.00
# DateOfRelease: 2021-08-08
###############################################################################

[Desktop Entry]
Type=Application
Name=Making USB sticks
Name[nl]=USB-sticks maken
GenericName=Write program
GenericName[nl]=Schrijfprogramma
Comment=Create bootable USB sticks
Comment[nl]=Maak opstartbare USB-sticks
Keywords=kzmkusb;mkusb;
Keywords[nl]=kzmkusb;mkusb;
Categories=Kz Scripts;
Exec=/usr/bin/kz_mkusb --gui
Icon=/usr/share/pixmaps/kz_mkusb.svg
Terminal=true
Actions=version;

[Desktop Action version]
Name=Show version information
Name[nl]=Versie-informatie tonen
Exec=/usr/bin/kz_mkusb --gui --version

# EOF
