###############################################################################
# Bureaublad-configuratiebestand voor kz restore.
#
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.
#
# Auteursrecht (c) 2016-2021 Karel Zimmer.
# GNU Algemene Publieke Licentie <https://www.gnu.org/licenses/gpl.html>.
#
# ReleaseNumber: 04.00.00
# DateOfRelease: 2021-08-08
###############################################################################

[Desktop Entry]
Type=Application
Name=Restore backup
Name[nl]=Back-up terugzetten
GenericName=Restore progam
GenericName[nl]=Herstelprogramma
Comment=Restore files and folders from a backup
Comment[nl]=Zet bestanden en mappen terug uit een back-up (reservekopie)
Keywords=kzrestore;restore;copy;
Keywords[nl]=kzrestore;restore;back-up;reservekopie;
Categories=KZ-Scripts;
Exec=pkexec /usr/bin/kz_restore --gui
Icon=/usr/share/pixmaps/kz_restore.svg
Actions=version;

[Desktop Action version]
Name=Show version information
Name[nl]=Versie-informatie tonen
Exec=/usr/bin/kz_restore --gui --version

# EOF
