###############################################################################
# Bureaublad-configuratiebestand voor kz setup.
#
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.
###############################################################################
# RELEASE_YEAR=2017

# VERSION_NUMBER=08.00.01
# VERSION_DATE=2021-08-22

[Desktop Entry]
Type=Application
Name=Set up apps
Name[nl]=Apps instellen
GenericName=Setup progam
GenericName[nl]=Instelprogramma
Comment=Setup apps and change user settings
Comment[nl]=Stel apps in en  en wijzig gebruikersinstellingen
Keywords=kzsetup;setup;
Keywords[nl]=kzsetup;setup;
Categories=Kz Scripts;
Exec=/usr/bin/kz_setup --gui
Icon=/usr/share/pixmaps/kz_setup.svg
Actions=info;reset;list;cat;simulate;version;

[Desktop Action info]
Name=Show setup instructions
Name[nl]=Instel-instructies tonen
Exec=/usr/bin/kz_setup --gui --info

[Desktop Action reset]
Name=Show reset instructions
Name[nl]=Reset-instructies tonen
Exec=/usr/bin/kz_setup --gui --reset

[Desktop Action list]
Name=Create setup list
Name[nl]=Instellijst aanmaken
Exec=/usr/bin/kz_setup --gui --list

[Desktop Action cat]
Name=Show files
Name[nl]=Bestanden tonen
Exec=/usr/bin/kz_setup --gui --cat

[Desktop Action simulate]
Name=Show commands
Name[nl]=Opdrachten tonen
Exec=/usr/bin/kz_setup --gui --simulate

[Desktop Action version]
Name=Show version information
Name[nl]=Versie-informatie tonen tonen
Exec=/usr/bin/kz_setup --gui --version

# EOF
