###############################################################################
# Bureaublad-configuratiebestand voor eHRM van Zga via Google Chrome.
#
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.
#
# Auteursrecht (c) 2020-2021 Karel Zimmer.
# GNU Algemene Publieke Licentie <https://www.gnu.org/licenses/gpl.html>.
#
# ReleaseNumber: 03.01.08
# DateOfRelease: 2021-05-08
###############################################################################

[Desktop Entry]
Type=Application
Name=Zga eHRM
GenericName=Elektronisch personeelsbeheer
Comment=Start eHRM Zorggroep Almere met Google Chrome
Keywords=personeel;informatie;pz;
Categories=KZ-Scripts;
Exec=google-chrome https://login.youforce.biz/Aanmelden
Icon=/usr/share/pixmaps/kz_zga_ehrm.jpeg
NoDisplay=true

# EOF
