###############################################################################
# Bureaublad-configuratiebestand voor WebMail van Zga via Google Chrome.
#
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.
###############################################################################
# RELEASE_YEAR=2020

# VERSION_NUMBER=03.01.09
# VERSION_DATE=2021-08-22

[Desktop Entry]
Type=Application
Name=Zga WebMail
GenericName=Mailprogramma
Comment=Start WebMail Zorggroep Almere met Google Chrome
Keywords=personeel;informatie;
Categories=Kz Scripts;
Exec=google-chrome https://randstad.zorggroep-almere.nl/exchange
Icon=/usr/share/pixmaps/kz_zga_webmail.png
NoDisplay=true

# EOF
