###############################################################################
# Bureaublad-configuratiebestand voor Monaco van Zga via Google Chrome.
#
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.
###############################################################################
# RELEASE_YEAR=2020

# VERSION_NUMBER=03.01.09
# VERSION_DATE=2021-08-22

[Desktop Entry]
Type=Application
Name=Zga Monaco
GenericName=Planningssysteem
Comment=Start Monaco Zorggroep Almere met Google Chrome
Keywords=personeel;informatie;
Categories=Kz Scripts;
Exec=google-chrome http://www.portaalzga.nl/
Icon=/usr/share/pixmaps/kz_zga_monaco.ico
NoDisplay=true

# EOF
