###############################################################################
# Bureaublad-configuratiebestand voor kzdeploy.
#
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.
#
# Auteursrecht (c) 2015-2021 Karel Zimmer.
# GNU Algemene Publieke Licentie <https://www.gnu.org/licenses/gpl.html>.
#
# ReleaseNumber: 01.04.02
# DateOfRelease: 2021-07-27
###############################################################################

[Desktop Entry]
Type=Application
Name=Distribute scripts
Name[nl]=Scripts distribueren
GenericName=CI/CD pipeline
GenericName[nl]=CI/CD pipeline
Comment=Distributes scripts and other files
Comment[nl]=Distribueert scripts en overige bestanden
Keywords=kzdeploy;deploy;
Keywords[nl]=kzdeploy;deploy;
Categories=KZ-Scripts;
Exec=/usr/bin/kzdeploy --gui
Icon=/usr/share/pixmaps/kzdeploy.svg
Terminal=true
Actions=version;

[Desktop Action version]
Name=Show version information
Name[nl]=Versie-informatie tonen
Exec=/usr/bin/kzdeploy --gui --version

# EOF
