###############################################################################
# Bureaublad-configuratiebestand voor kzivp.
#
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.
#
# Auteursrecht (c) 2015-2021 Karel Zimmer.
# GNU Algemene Publieke Licentie <https://www.gnu.org/licenses/gpl.html>.
#
# ReleaseNumber: 02.03.02
# DateOfRelease: 2021-07-27
###############################################################################

[Desktop Entry]
Type=Application
Name=Check scripts
Name[nl]=Scripts controleren
GenericName=Check program
GenericName[nl]=Controleprogramma
Comment=Installation Verification Procedure (IVP) for scripts
Comment[nl]=Installatie Verificatie Procedure (IVP) voor scripts
Keywords=kzivpsh;ivp;
Keywords[nl]=kzivpsh;ivp;
Categories=KZ-Scripts;
Exec=/usr/bin/kzivp --gui
Icon=/usr/share/pixmaps/kzivp.svg
Terminal=true
Actions=version;

[Desktop Action version]
Name=Show version information
Name[nl]=Versie-informatie tonen
Exec=/usr/bin/kzivp --gui --version

# EOF
