<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD Polkit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/software/polkit/policyconfig-1.dtd">

<!--
# #############################################################################
# SPDX-FileComment: Polkit action definition file for kz_common
#
# SPDX-FileCopyrightText: Karel Zimmer <info@karelzimmer.nl>
# SPDX-License-Identifier: CC0-1.0
# #############################################################################
-->

<policyconfig>
    <vendor>Karel Zimmer</vendor>
    <vendor_url>https://karelzimmer.nl/en</vendor_url>
    <icon_name>kz</icon_name>

    <action id="nl.karelzimmer.kz_common">
        <description gettext-domain="kz">Wrapper script for kz_common</description>
        <message gettext-domain="kz">Execute the fuser command requiring root privileges</message>
        <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/kz_common-pkexec</annotate>
        <defaults>
            <allow_any>yes</allow_any>
            <allow_inactive>yes</allow_inactive>
            <allow_active>yes</allow_active>
        </defaults>
    </action>

</policyconfig>
