<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD Polkit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/software/polkit/policyconfig-1.dtd">

<!--
# #############################################################################
# SPDX-FileComment: Polkit action definition file for kz-install
#
# SPDX-FileCopyrightText: Karel Zimmer <info@karelzimmer.nl>
# SPDX-License-Identifier: CC0-1.0
# #############################################################################
-->

<policyconfig>
    <vendor>Karel Zimmer</vendor>
    <vendor_url>https://karelzimmer.nl/en</vendor_url>
    <icon_name>kz</icon_name>

    <action id="nl.karelzimmer.kz-install">
        <description gettext-domain="kz">Install apps</description>
        <message gettext-domain="kz">Authentication is required to install apps</message>
        <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/kz-install-pkexec</annotate>
        <defaults>
            <allow_any>auth_self_keep</allow_any>
            <allow_inactive>auth_self_keep</allow_inactive>
            <allow_active>auth_self_keep</allow_active>
        </defaults>
    </action>

</policyconfig>
